.body {
    display: flex;
    flex-direction: column;
}

/* Landing */
.landing {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-self: center;
}

/* Profile */
.profile {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.profilePicture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileImg {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

.profileName {
    width: 100%;
    text-align: center;
    margin: 2rem 0rem;
    font-size: 2rem;
}

.profileLinkedIn {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.profileGitHub {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

/* Summary */
.summary {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summaryTitle {
    text-align: center;
    margin: 1rem;
    font-size: 2.3rem;
}

.summaryText {
    text-align: center;
    margin: 1.5rem;
    font-size: 1.3rem;
}

/* Skills */
.skills {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsTitle {
    width: 100%;
    text-align: center;
    margin: 1rem;
    font-size: 2.3rem;
}

.frontend {
    width: 100%;
    font-size: 1.3rem;
}

.skillsFrontend {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skillsFrontend li {
    margin: 0.5rem;
    font-size: 1rem;
}

.backend {
    width: 100%;
    font-size: 1.3rem;
}

.skillsBackend {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skillsBackend li {
    margin: 0.5rem;
    font-size: 1rem;
}

.devops {
    width: 100%;
    font-size: 1.3rem;
}

.skillsDevops {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skillsDevops li {
    margin: 0.5rem;
    font-size: 1rem;
}

.databases {
    width: 100%;
    font-size: 1.3rem;
}

.skillsDatabases {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skillsDatabases li {
    margin: 0.5rem;
    font-size: 1rem;
}

.utils {
    width: 100%;
    font-size: 1.3rem;
}

.skillsUtils {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skillsUtils li {
    margin: 0.5rem;
    font-size: 1rem;
}

/* Projects Arrow */
.projectsArrow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.projectsArrow div {
    width: 100%;
    text-align: center;
    margin: 1rem;
    font-size: 1.3rem;
}

/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7rem 0rem;
}

.projectContainer {
    max-width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectTitle {
    text-align: center;
    margin: 1rem;
    font-size: 2.3rem;
}

.projectImage {
    width: 28rem;
    height: auto;
}

.projectLink {
    align-self: flex-start;
    font-size: 1.3rem;
}

.projectLink a {
    text-decoration: none;
    color: white;
}

.projectDescription {
    width: 11rem;
    text-align: center;
    margin: 1rem 4rem 1rem 1rem;; 
    font-size: 1rem;
}

/* Contact */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    text-align: center;
    margin: 1rem;
    font-size: 2.3rem;
}

.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
