:root {
    --pad: max(1.2rem, 4vmin);
}

body {
    background-color: black;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: textFadeOut 4.5s cubic-bezier(0.4, 0.2, 0.2, 1) forwards, removeElement 2s forwards;
}

.welcome h2 {
    color: white;
    font-size: 1.6rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    opacity: 1;
    animation: textFadeOut 3.5s cubic-bezier(0.4, 0.2, 0.2, 1) forwards;
}

.welcome h1 {
    color: white;
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0.5rem;
    opacity: 1;
    animation: textFadeOut 3.5s cubic-bezier(0.4, 0.2, 0.2, 1) forwards;
}

@keyframes textFadeOut {
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes removeElement {
    to {
        display: none;
    }
}

.frame {
    position: fixed;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    mix-blend-mode: difference;
    pointer-events: none;
}

.frame_line {
    position: absolute;
    background-color: white;
    opacity: 1;
}

.frame_line-left {
    left: 0;
    top: 0;
    width: 0.1vw;
    height: 100%;
}

.frame_line-right {
    right: 0;
    top: 0;
    width: 0.1vw;
    height: 100%;
}

.frame_line-top {
    left: 0;
    top: 0;
    height: 0.1vw;
    width: 100%;
}

.frame_line-bottom {
    left: 0;
    bottom: 0;
    height: 0.1vw;
    width: 100%;
}

.square {
    position: fixed;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue_blob {
    position: absolute;
    top: -15%;
    left: 10%;
    width: 25%;
    opacity: 0.3;
}

.red_blob {
    position: absolute;
    top: -5%;
    left: 77%;
    width: 18%;
    opacity: 0.3;
}

.yellow_blob {
    position: absolute;
    left: 70%;
    top: 65%;
    width: 25%;
    opacity: 0.2;
}

.brown_blob {
    position: absolute;
    top: 83%;
    left: -5%;
    width: 40%;
    opacity: 0.3;
}

.grey_blob {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 10%;
    opacity: 0.3;
}

.name {
    color: white;
    font-family: 'Gloock', serif;
    font-size: 3.7rem;
    padding-left: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home {
    align-self: center;
    color: white;
    text-decoration: none;
    writing-mode: vertical-rl;
    letter-spacing: 0.6rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 200;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
}

.home:hover {
    opacity: 0.5;
}

.link {
    width: 28%;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-decoration: none;
    margin: auto;
}

.image {
    z-index: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8vw;
    border: 0.1vw solid white;
    opacity: 0.7;
}

.title {
    align-self: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.description {
    align-self: flex-end;
    width: 25%;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    padding: 0rem 1rem;
}

.contact {
    align-self: center;
    color: white;
    text-decoration: none;
    letter-spacing: 2rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

.contact:hover {
    opacity: 0.5;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1600px) {
    .name {
        font-size: 3.5rem;
        padding-left: 2rem;
    }
    .projects {
        font-size: 2rem;
        padding-left: 0.5rem;
    }
    .description {
        width: 50%;
        font-size: 1rem;
    }
    .contact {
        letter-spacing: 1rem;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 1440px) {
    .name {
        font-size: 3.5rem;
        padding-left: 2rem;
    }
    .projects {
        font-size: 2rem;
        padding-left: 0.5rem;
    }
    .description {
        width: 50%;
        font-size: 1rem;
    }
    .contact {
        letter-spacing: 1rem;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .name {
        font-size: 2rem;
        padding-left: 2rem;
    }
    .projects {
        font-size: 2rem;
        padding-left: 0.5rem;
    }
    .description {
        width: 50%;
        font-size: 1rem;
    }
    .contact {
        letter-spacing: 1rem;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 2rem;
        padding-left: 2rem;
    }
    .projects {
        font-size: 2rem;
        padding-left: 0.5rem;
    }
    .description {
        width: 50%;
        font-size: 1rem;
    }
    .contact {
        letter-spacing: 1rem;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .name {
        font-size: 1.3rem;
        padding-left: 0.5rem;
    }
    .projects {
        font-size: 1.4rem;
        padding-left: 0.5rem;
    }
    .description {
        width: 80%;
        font-size: 1rem;
    }
    .contact {
        letter-spacing: 1rem;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .welcome h1 {
        font-size: 1.5rem;
    }
    .welcome h2 {
        font-size: 1.2rem;
    }
    .name {
        font-size: 0.7rem;
    }
    .projects {
        font-size: 1.4rem;
        padding-left: 0.5rem;
    }
    .description {
        width: 80%;
        font-size: 0.8rem;
    }
    .contact {
        letter-spacing: 1rem;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}
